body{


}
#hide{
    background-color: #4CAF50;
    margin-left: 95%;
    border:0px;
    border-radius: 10px;
    color: white;
}
#show{
    background-color: #4CAF50;
    margin: 4px 2px;
    border-radius: 10px;
    color: white;
    margin-left: 600px;
    margin-top: 10%;
    padding: 10px 24px;
    border:0px;

}
#sendus{
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    color: white;
     text-align: center;
     

}
#panel-heading{
    background-color: green;

}
#panel-body{
    background-color: blue;
}